export(multibitTree.load, multibitTree.search, multibitTree.searchFile, multibitTree.unload, multibitTree.statistics)
useDynLib(multibitTree, mbtLoadCall, mbtSearchCall, mbtSearchFileCall, mbtUnloadCall, mbtStatisticsCall)
